[Unit]
Description=VPP Config Loader
After=vpp.service clixon-vpp-backend.service clixon-vpp-restconf.service
Wants=clixon-vpp-backend.service
ConditionFileExists=/var/lib/clixon/vpp/vpp_config.xml

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 3
ExecStart=/usr/local/bin/vpp-config-loader.sh

[Install]
WantedBy=multi-user.target
