[Unit]
Description=VPP Configuration Loader
Documentation=https://github.com/clixon/clixon
After=vpp.service clixon-backend.service
Wants=vpp.service
Requires=vpp.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vpp-config-loader.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
